%section.body-section
  .wrap-two.container-fluid
    .row
      .col-lg-10.col-md-9.col-sm-12.col-xs-12
        .table-responsive.leftcol
          %h1
            Testimonials
            //%span.extras
            //  %a{:href => ''} See all saved drafts
          %table#drafts.table-hover{:cellpadding => '0', :cellspacing => '0'}
            %tbody
              %tr.noHighlight
                %th.headerLeft{:style => 'width: 55%;'} Testimonial
                %th{:style => 'width: 18.5%;'} Created
                %th.cellCenter{:style => 'width: 7%;'} Ready
                %th.cellCenter{:style => 'width: 7%;'} Approved
                %th.headerRight{:style => 'width: 10%;'}
              - @testimonials.each do |testimonial|
                %tr.hover-toggle
                  %td
                    = link_to testimonial, testimonial_path(testimonial), class: 'row-left'
                    %br/
                    .clearit
                  %td
                    = testimonial.created_at.to_formatted_s(:long)
                  %td.cellCenter
                    = image_tag 'tick.png', :alt => 'Yes'
                  %td.cellCenter
                    / = link_to publish_testimonial_path(testimonial), method: :post,
                    /           data: {confirm: "Do you want to #{'un' if testimonial.published?}publish testimonial?" } do
                    - if testimonial.approved?
                      = image_tag 'tick.png', :alt => 'Yes'
                    - else
                      = image_tag 'minus.png', :alt => 'No'
                  %td.cellCenter
                    = link_to testimonial, method: :delete,
                              data: { confirm: 'Do you want to delete testimonial?' } do
                      %span.glyphicon.glyphicon-remove
      .col-lg-2.col-md-3.col-sm-12.col-xs-12
        = render 'layouts/right_bar'
