%section.body-campaign
  .wrap-two
    .row
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.pull-left
        %h1.step1
          Write testimonial by myself
          %span#campaignName Select template and fill necessary fields
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .tests
          %ul.campaigns-menu.two.nav.navbar-nav.pull-right
            %li#regular-tab.current
              %a.text{:href => ""}
                %i.fa.fa-envelope-o
                Regular
            %li#absplit-tab
              %a.text{:href => ""}
                %i.fa.fa-users
                A/B test
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .camp-prog.pull-right
          %div{:style => "display: block"}
            = image_tag('campaign.png')
          #sfIcons.camp-prog-sf1{:style => "display: none"}
          #coIcons.camp-prog-co1{:style => "display:none"}
          #trIcons.camp-prog-tr1{:style => "display: none"}
/ Body section Input
%section.body-campaign-input
  .wrap-three.container-fluid
    .row
      .col-lg-3.col-sm-4.col-xs-12
        .scrollable-templates
          TEMPLATES TBD
      .col-lg-9.col-xs-12.col-sm-8
        #regular
          #campaign-editor
            = form_for @testimonial do |f|
              = hidden_field_tag :step, :main
              #regular-content{:style => ""}
                %ul.primary-form
                  %li
                    %label Client
                    .helper-text Write client's full name
                    .box-wrap
                      = f.text_field :name, autofocus: 'autofocus',
                                       class: 'title-field width-full first'
                  %li#regSubject{:style => ""}
                    %label Role
                    .helper-text
                      Write client's role in company
                    .box-wrap
                      = f.text_field :role, class: 'clientname-field width-full first'
                  %li#regSubject{:style => ""}
                    %label Company
                    .helper-text
                      Write client's company name
                    .box-wrap
                      = f.text_field :company, class: 'clientname-field width-full first'
                  %li#regSubject{:style => ""}
                    %label Testimonial
                    .helper-text
                      This is testimonial's content
                    .box-wrap
                      = f.text_area :content, class: 'clientname-field width-full first',
                                    style: 'resize: none; height: 150px;'
                    = f.submit 'Next', class: 'hidden'
              .primary-form.padding-none
                #submit-wrap.button-cancel.wizard{:style => ""}
                  %button#submitButton.button.primary.huge.forward
                    Create