%section.body-campaign
  .wrap-two
    .row
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.pull-left
        %h1.step1
          = @testimonial.name
          %span#campaignName
            = @testimonial.company
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .buttons.pull-right{style: 'margin: 10px; padding-top: 20px;'}
          = link_to 'Approve', approve_testimonial_path(@testimonial), :method => :post, :class => 'btn btn-primary'
          / = link_to 'Edit', edit_testimonial_path(@testimonial), :class => 'btn btn-primary'
          = link_to 'Delete', @testimonial, :method => :delete,
            :data => { :confirm => 'Do you want to delete testimonial?' },
            :class => 'btn btn-danger'
        .camp-prog.pull-right
          #sfIcons.camp-prog-sf1{:style => "display: none"}
          #coIcons.camp-prog-co1{:style => "display:none"}
          #trIcons.camp-prog-tr1{:style => "display: none"}
/ Body section Input
%section.body-campaign-input
  .wrap-three.container-fluid
    .row
      .col-lg-6.col-md-6.col-xs-6.col-sm-6
        #regular
          #campaign-editor
            #regular-content{:style => ""}
              %ul.primary-form{style: 'width: auto;'}
                %li
                  %label Testimonial preview
                  = render html: @testimonial.template_with_pic.html_safe
      .col-lg-6.col-md-6.col-xs-6.col-sm-6
        #regular
          #campaign-editor
            #regular-content{:style => ""}
              %ul.primary-form{style: 'width: auto;'}
                %li
                  %label Testimonial code
                  .helper-text Copy this code to your page to embed testimonial
                  .box-wrap.tile-code
                    = text_area_tag :tile_code, @testimonial.testimonial_code,
                                    style: 'width: 100%; height: 120px;'
                    = link_to 'Copy to clipboard', '#', class: 'btn btn-primary',
                              id: 'tileToClipboard', style: 'margin: 5px;'
