%section.body-campaign
  .wrap-two
    .row
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.pull-left
        %h1.step1
          New testimonial
          %span#campaignName Please fill necessary fields
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .tests
          %ul.campaigns-menu.two.nav.navbar-nav.pull-right
            %li#regular-tab.current
              %a.text{:href => ""}
                %i.fa.fa-envelope-o
                Regular
            %li#absplit-tab
              %a.text{:href => ""}
                %i.fa.fa-users
                A/B test
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .camp-prog.pull-right
          %div{:style => "display: block"}
            = image_tag('campaign.png')
          #sfIcons.camp-prog-sf1{:style => "display: none"}
          #coIcons.camp-prog-co1{:style => "display:none"}
          #trIcons.camp-prog-tr1{:style => "display: none"}
/ Body section Input
%section.body-campaign-input
  .wrap-three.container-fluid
    .row
      .col-lg-12.col-xs-12.col-sm-12
        #regular
          #campaign-editor
            = form_for @testimonial, url: url_for(controller: 'backend/requests',
                       action: 'create_customer_testimonial') do |f|
              = hidden_field_tag :request_id, @request.id
              #regular-content{:style => ""}
                %ul.primary-form
                  %li
                    %label Thank you for writing testimonial
                    .helper-text
                      Your feedback very valuable for us!
                    .box-wrap
                      = f.text_field :name, placeholder: "Your name",
                                       class: 'title-field width-full first'
                    .box-wrap
                      = f.file_field :image
                      .image{style: 'width: 200px;'}
                        = image_tag(@testimonial.image.url) if @testimonial.image?
                    .box-wrap
                      = f.text_field :role, autofocus: 'autofocus', placeholder: "Your role in company",
                                       class: 'title-field width-full first'
                    .box-wrap
                      = f.text_field :company, placeholder: "Company",
                                       class: 'title-field width-full first'
                    .box-wrap
                      = f.text_area :content, class: 'clientname-field width-full first',
                                    style: 'resize: none; height: 150px;', placeholder: 'Testimonial'
                    = f.submit 'Next', class: 'hidden'
              .primary-form.padding-none
                #submit-wrap.button-cancel.wizard{:style => ""}
                  %button#submitButton.button.primary.huge.forward
                    Create
