%section.body-campaign
  .wrap-two
    .row
      .col-lg-4.col-md-4.col-sm-4.col-xs-12.pull-left
        %h1.step1
          = @case_study.client
          %span#campaignName
            = @case_study.title
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .buttons.pull-right{style: 'margin: 10px;'}
          = link_to 'preview', public_case_study_path(@case_study.user.url, @case_study.url),
                  class: 'btn btn-primary', style: 'margin-top: 10px;'
          %br
          = link_to 'edit', edit_case_study_path(@case_study), class: 'btn btn-primary',
                    style: 'margin-top: 10px;'
        .camp-prog.pull-right
          #sfIcons.camp-prog-sf1{:style => "display: none"}
          #coIcons.camp-prog-co1{:style => "display:none"}
          #trIcons.camp-prog-tr1{:style => "display: none"}
/ Body section Input
%section.body-campaign-input
  .wrap-three.container-fluid
    .row
      .col-lg-6.col-md-6.col-xs-6.col-sm-6
        #regular
          #campaign-editor
            #regular-content{:style => ""}
              %ul.primary-form{style: 'width: auto;'}
                %li
                  %label Tile preview
                  .helper-text TBD
      .col-lg-6.col-md-6.col-xs-6.col-sm-6
        #regular
          #campaign-editor
            #regular-content{:style => ""}
              %ul.primary-form{style: 'width: auto;'}
                %li
                  %label Tile code
                  .helper-text Copy this code to your page to embed case stidy tile
                  .box-wrap.tile-code
                    = text_area_tag :tile_code, @case_study.tile_code(request.base_url),
                                    style: 'width: 100%; height: 120px;'
                    = link_to 'Copy to clipboard', '#', class: 'btn btn-primary',
                              id: 'tileToClipboard', style: 'margin: 5px;'