= fa_icon "star-o", :class => 'review-rating-stars', :data => {:rating => 1}
= fa_icon "star-o", :class => 'review-rating-stars', :data => {:rating => 2}
= fa_icon "star-o", :class => 'review-rating-stars', :data => {:rating => 3}
= fa_icon "star-o", :class => 'review-rating-stars', :data => {:rating => 4}
= fa_icon "star-o", :class => 'review-rating-stars', :data => {:rating => 5}
